/* 
    Document   : Recipes CSS stylesheet
    Created on : 20.3.2018
    Author     : tomp
    Description:
        A stylesheet which can be used for styling 
        the HTML resulting from the transformation.
*/

root { 
    display: block;
}
body, html {
	margin: 0;
	padding: 0;
	color: #000;
	font-family: arial, tahoma, verdana;
	background: #fff;
}
h1, h2 {
	padding: 5px;
	margin: 5px;
        color: #484;
        background-color: #ddd
}
h3, h4 {
	font-style: italic;
        color: #242;
        background-color: #eee
}
